body {
    background-color: #Ecf8f8;
}

.form-inline {
  margin: 0 auto;
  width: 100%;
}

.form-group {
  text-align: center;
}

input {
  text-align: center;
  font-size: 20px;
}


.header {
  text-align: center;
  background-color: #E1eded;
}

h1 {
  font-size: 48px;
  color: #223131;
  padding-top: 20px;
  padding-bottom: 20px;
}

table {
  font-size: 18px;
}



.complete {
  background-color: #7CB2B2;
}


.completeBtn{
  background-color:#E1EDED;

 border: none;
 color: #223131;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}

.container {
  background-color: #C9e8e8;
}


.deleteBtn {
 background-color:#E1eded;
 border: none;
 color: #223131;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}

#addTask {
  padding: 5px;
  margin: 10px;
}

#viewTaskList {
  background-color: #AEE5e5;
  color: #223131;
}
